<div>
<h1><a class="pageheadercenter" i18n="@@ApplicationTitle">{{title}}</a></h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light navalign"> 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/projects/0'" i18n="@@AddProject" > Add Project </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" id="addtask" [routerLink]="'/tasks/0'" i18n="@@AddTask"> Add Task </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="'/users/0'" i18n="@@AddUser"> Add User </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" id="vtasks" [routerLink]="'/view-tasks'" i18n="@@ViewTask"> View Task </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet>
  </router-outlet>
</div>